<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="Description" content="{{ title }}" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../../styles/common.css" />
    <link rel="stylesheet" href="../../styles/blogpost.css" />
    <link rel="stylesheet" href="../../styles/prism-theme.css"/>
  </head>
  <body>
    {% set js %}
      {% include "dark-theme.js" %}
    {% endset %}
    <script>
      {{ js | safe }}
    </script>

    <div class="container">
      {% include 'header.njk' %}
      <div class="post-container">
        <div class="post-date">{{ page.date | date("MMM D, YYYY") }}</div>
        <h1>{{ title }}</h1>
        <div class='content'>{{ content | safe }}</div>
      </div>
    </div>
    
  </body>
</html>