<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="Description" content="Roman Ruiz-Esparza" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="./styles/common.css" />
    <link rel="stylesheet" href="./styles/homepage.css" />
    <link rel="stylesheet" href="./styles/blogpost.css" />
    <link rel="stylesheet" href="./styles/prism-theme.css"/>
    <script>

    </script>
  </head>
  <body>
    {% set js %}
      {% include "dark-theme.js" %}
    {% endset %}
    <script>
      {{ js | safe }}
    </script>

    <div class="container">
      {% include 'header.njk' %}
      
      <ul class="posts">
      {% for post in collections.posts | reverse %}
        <li class="post">
          <div class="post-title">
            {% if post.data.externalLink %}
              <a href="{{ post.data.externalLink }}" target="__blank">{{ post.data.title }}</a>
            {% else %}
              <a href="{{ post.url }}">{{ post.data.title }}</a>
            {% endif %}
          </div>
          <div class="post-container">
            <div class='content excerpt'>
              {% excerpt post %}
            </div>
          </div>
          <span class="post-date">{{ post.date | date("MMM D, YYYY") }}</span>
        </li>
      {% endfor %}
    </ul>
    </div>
    
  </body>
</html>
