::selection {
  color: white;
  background-color: #007cff;
}

::-moz-selection {
  color: white;
  background-color: #007cff;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  font-family: Helvetica, Arial, sans-serif;
  // color: #394655;
  color: #fff;
  // background: #fffef7;
  background-color: #000;
}

.header {
  font-size: 0.8rem;
  margin-top: 1.5em;
  margin-bottom: 4em;
  h2 {
    font-size: 1.3em;
  }
  p {
    margin: 8px 0;
  }
}

h1 {
  font-size: 1.9em;
  font-weight: normal;
  font-family: Helvetica, Arial;
  margin-bottom: 1em;
}

h2 {
  font-weight: normal;
}

.container {
  width: 600px;
  margin: 0 auto;
  blockquote {
    margin: 16px 0;
    padding: 0 1em;
    color: #007cff;
    border-left: 0.25em solid;
  }
}

a {
  text-decoration: none;
  color: #007cff;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .container {
    width: auto;
    margin: 32px 5%;
  }
}
