:root {
  font-size: 1.25rem;
}

::selection {
  color: white;
  background-color: #007cff;
}

::-moz-selection {
  color: white;
  background-color: #007cff;
}

* {
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
    color: rgb(217, 217, 217);

    code:not([class*="language-"]) {
      background-color: #2f2f2f;
      border: 1px solid #555;
    }
  }
}
body.dark-theme {
  background-color: #000;
  color: rgb(217, 217, 217);

  code:not([class*="language-"]) {
    background-color: #2f2f2f;
    border: 1px solid #555;
  }
}
body {
  background-color: #fff;
  color: #000;

  code:not([class*="language-"]) {
    background-color: #f8f8f8;
    border: 1px solid #dddddd;
  }
}

body {
  font-size: 0.85rem;
  font-family: Helvetica, Arial, sans-serif;
  // color: #394655;
  // background: #fffef7;
}
@media (min-width: 60em) {
  body {
    font-size: 1rem;
  }
}

button#theme-btn {
  color: currentColor;
  cursor: pointer;
  float:right;
  background-color: transparent;
  border: none;
}
.header {
  font-size: 0.75em;
  margin-top: 1.5em;
  margin-bottom: 4em;
  h2 {
    font-size: 1.3em;
    a {
      color: currentColor;
    }
  }
}

h1 {
  font-size: 1.9em;
  font-weight: normal;
  font-family: Helvetica, Arial;
  margin-bottom: 1em;
}

h2 {
  font-weight: normal;
}

// Select all text wrapped in `` in markdown - generated a `code` tag without a language class
code:not([class*="language-"]) {
  padding: 0.2em;
  padding-top: 1px;
  padding-bottom: 1px;
}

.post-date {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 0.8em;
  color: #999;
}

hr {
  border: 1px solid #222;
}

.container {
  width: 600px;
  margin: 0 auto;
  blockquote {
    margin: 16px 0;
    padding: 0 1em;
    color: #007cff;
    border-left: 0.25em solid;
  }
}

a {
  text-decoration: none;
  color: #007cff;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .container {
    width: auto;
    margin: 32px 5%;
  }
}
