::selection {
  color: white;
  background-color: brown;
}

::-moz-selection {
  color: white;
  background-color: brown;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  font-family: Helvetica, Arial, sans-serif;
  color: #394655;
  background: #fffef7;
}

.header {
  margin-bottom: 4em;
  p {
    margin: 8px 0;
  }
}

h1 {
  font-size: 1.2em;
  font-family: Helvetica, Arial;
  margin-bottom: 1em;
}

h2 {
  font-weight: normal;
}

.container {
  width: 600px;
  margin: 40px auto;
  blockquote {
    margin: 16px 0;
    padding: 0 1em;
    color: brown;
    border-left: 0.25em solid;
  }
}

a {
  text-decoration: none;
  color: brown;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .container {
    width: auto;
    margin: 32px 5%;
  }
}
