.category {
  margin-top: 25px;
  margin-bottom: 10px;
}

.posts {
  list-style: none;
  .post {
    margin-bottom: 2em;
  }
}
.post-title {
  margin-top: 0.5em;
}
.post-container .excerpt.content {
  font-size: 0.85em;
  line-height: normal;
  p {
    margin-top: 0.5em;
    margin-bottom: 0;
  }
}
